body {
    background-color: rgb(207, 232, 240);
}

hr {
    background-color: rgb(25, 0, 255);
    border-style: none;
    height: 2px;
}

p {
    background-color: rgb(207, 232, 240);
}

img {
    background-color: rgb(25, 0, 255);
    border-style: solid;
    border-color: rgb(25, 0, 255);
}

#security-news {
    background-color: cyan;
    border-style: solid;
}

#top {
    size: 30%
}