body {
    background-color: lightblue;
}

hr {
    background-color: lightblue;
    border-style: none;
    height: 2px;
}

p {
    background-color: lightblue;
}

img {
    background-color: lightblue;
    border-style: solid;
    border-color: blue;
}

#security-news {
    background-color: rgb(163, 163, 163);
    border-style: solid;
}

#top {
    size: 30%
}