body {
    background-color: lightblue;
}

hr {
    background-color: lightblue;
    border-style: none;
    height: 2px;
}

p {
    background-color: lightblue;
}

img {
    background-color: lightblue;
    border-style: solid;
    border-color: blue;
}

#security-news {
    background-color: lightgray;
    border-style: solid;
}